<form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
  <mat-form-field appearance="outline">
    <mat-label> Email </mat-label>
    <input matInput placeholder="Email" formControlName="email" type="email" />
    <mat-error
      *ngIf="
        (loginForm.get('email').touched &&
          loginForm.get('email').errors?.required) ||
        (loginForm.get('email').invalid &&
          loginForm.get('email').errors?.required)
      "
    >
      Email is required
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label> Password </mat-label>
    <input
      matInput
      placeholder="Password"
      formControlName="password"
      [type]="hide ? 'password' : 'text'"
    />
    <mat-icon matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      *ngIf="
        (loginForm.get('password').touched &&
          loginForm.get('password').errors?.required) ||
        (loginForm.get('password').invalid &&
          loginForm.get('password').errors?.required)
      "
    >
      <mat-icon matPrefix>error</mat-icon>
      Password is required
    </mat-error>
  </mat-form-field>
  <button mat-fab extended color="primary" type="submit">Login</button>
</form>
